<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
            {% for order in orders %}
            {# <li><a href="/blog/month/january">January</a></li> #}
            <li>{{ order.customer_name }}, <b>{{ order.order_date }}</b>: <c>{{ order.product_name }}</c>, <d>{{ order.quantity }}</d></li>
            {% endfor %}
        </ul>
    </body>
</html>