<!-- pass in one thing -->
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <li>{{ order.customer_name }}, <b>{{ order.order_date }}</b>: <c>{{ order.product_name }}</c>, <d>{{ order.quantity }}</d></li>
    </body>
</html>