<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <li>{{ index.customer_name }}, <b>{{ index.order_date }}</b>: <c>{{ index.product_name }}</c>, <d>{{ index.quantity }}</d></li>
    </body>
</html>